{:source-paths ["src/main"]
 :dev-http     {8081 "public"}
 :main         'memorygame.app
 :nrepl        {:port 55555}
 :dependencies [[reagent "1.0.0-alpha2"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/scripts/"
                      :modules    {:core {:init-fn memorygame.app/run}}
                      :devtools   {:after-load memorygame.app/reload}}}}